@model UMUBook.Models.PostsModel

@{
    ViewData["Title"] = "Post";
}

<div class="column" style="width:20%">
    <div id="createPost" style="margin:0;">
        @await Html.PartialAsync("../Posts/_CreatePost.cshtml", new PostsModel { ReplyID = Model.PostID })
    </div>
</div>

<div class="column" style="width:60%">
    @await Html.PartialAsync("../Posts/_Post.cshtml", new PostPartialViewModel { Post = Model, RepliesShown = 100 })
</div>

<div class="column" style="width:20%"></div>









